body {
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post {
    width: 400px;
    margin: 0 auto;
    background-color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.profile_img{
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 5px;
}

.left_header {
    display: flex;    
}

h1{
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

h2{
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.user{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.icon{
    font-size: 30px;
    padding: 10px;
}

.pic{
    display: flex;
    height: 300px;
    width: 400px;
    object-fit: cover;
}

.actions{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    padding-right: 10px;
}

.likes {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding: 10px;
}

.comment {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding-top: 50px;
    padding: 10px;
}
